@using Microsoft.AspNet.Identity
@model Mooshak26.Models.ExternalLoginConfirmationViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mooshak2.0", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
<<<<<<< HEAD
                    <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                    <li>@Html.ActionLink("Assignment", "Index", "Assignment")</li>
                    <li>@Html.ActionLink("Users", "Index", "Users")</li>
=======
                    <li>@Html.ActionLink("StudentMainPage", "StudentMainPage", "Home")</li>
                    <li>@Html.ActionLink("AdminMainPage", "AdminMainPage", "Home")</li>
                    <li>@Html.ActionLink("TeacherMainPage", "TeacherMainPage", "Home")</li>
                    <li>
                        @if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "ExternalLoginConfirmation", "Account", routeValues: null, htmlAttributes: new { title = "Account" })
                        }
                    </li>
>>>>>>> baebafbe28f2748bcab10d96d50e78b66f019cdf
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mooshak 2.0</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
